

<style type="text/css">
  body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
  }
  .spinner-1:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #0091ea;
    animation: spinner 0.7s linear infinite;
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  li {
    background-color: #bdbdbd;
  }
  li:nth-child(odd) {
    background-color: #0091ea;
  }
  .upload-container {
    text-align: center;
    margin-top: 20px;
  }

  input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }

  input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }
</style>

<div class="container">
  <div class="jumbotron text-center">
    <h3 style="color: blueviolet; font-weight: bold">
      HR recruitment dashboard
    </h3>
    <p>Automating the process</p>
  </div>
</div>

<br />
<hr />
<div class="main">
  <div class="container">
    <div class="card">
      <h2>Upload Job File(TXT Format)</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
    </div>
    <div class="card-text"> 

    	<h5 style="font-weight: bold;">Resume Comparision</h5>
    	<form action="{{ url_for('resumecomp') }}" method="post">
            <input type="submit" value="Take Candidate Interview" class="btn btn-primary " style="background-color: #6c5ce7;">
          </form>
          
    	<hr/>
    </div>

    <div class="card-text"> 

    	<h5 style="font-weight: bold;">Salary Calculation</h5>
    	<form action="{{ url_for('salaryreomendation') }}" method="post">
            <input type="submit" value="Take Candidate Interview" class="btn btn-primary " style="background-color: #6c5ce7;">
          </form>
          
    	<hr/>
    </div>


